.chatbox {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin-top: 80px;
}

.chatbox-message {
    margin-bottom: 20px;
}

.chatbox-message-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.chatbox-message-content p {
    margin: 0;
}

.chatbox-answers {
    margin-top: 20px;
}

.chatbox-answer {
    margin-bottom: 10px;
}

/* Dark mode styles */

body {
    background-color: #333;
}

.chatbox-message-content p {
    color: #eee;
}

.chatbox-message-content {
    background-color: #000;
    border-color: #888;
}

.chatbox-answer {
    background-color: #222;
}

.chatbox-answer p {
    color: #eee;
}